html:has(.vscode-dark), body.vscode-dark, .vscode-dark .github-markdown-body {
  background: #292828;
}
.vscode-dark .github-markdown-body :not(pre):not(a) > code {
	color: #eab38a !important;
}
.vscode-dark .github-markdown-body :not(pre) > code {
	background: #151b2382;
	border: 1px solid #3e4a5954;
}

.vscode-dark .github-markdown-body h1 {
	color: #ffbf47;
}

.vscode-dark .github-markdown-body h2 {
	color: #ffcc6d;
}

.vscode-dark .github-markdown-body h3 {
	color: #ffd27e;
}

.vscode-dark .github-markdown-body h4,
.vscode-dark .github-markdown-body h5,
.vscode-dark .github-markdown-body h6 {
	color: #ffe1a8;
}

s {
	opacity: 0.7;
}
